[enlyte-epel]
name=Extra Packages for Enterprise Linux $releasever - $basearch (Enlyte EPEL Repo)
baseurl=https://repo.mitchell.com/artifactory/rpm-thirdparty/epel/$releasever/$basearch/
enabled=1
gpgcheck=0
