[enlyte-epel]
name=Extra Packages for Enterprise Linux $releasever - $basearch (Enlyte EPEL Repo)
baseurl=< org artifactory url >/artifactory/rpm-thirdparty/epel/$releasever/$basearch/
enabled=1
gpgcheck=0
