# Load required plugins
LoadPlugin curl_json
 
# Network plugin configuration (if needed)
LoadPlugin network
<Plugin network>
  Server "{{ collectd_server_host }}" "{{ collectd_server_port }}"
</Plugin>
 
# Jolokia JMX monitoring configuration
<Plugin curl_json>
  # Memory metrics
<URL "http://{{ ansible_hostname }}.{{ domain }}:8080/jolokia/read/java.lang:type=Memory/HeapMemoryUsage">
    Instance "jboss-heap"
<Key "value/used">
      Type "memory"
      Instance "heap-used"
</Key>
<Key "value/committed">
      Type "memory"
      Instance "heap-committed"
</Key>
<Key "value/max">
      Type "memory"
      Instance "heap-max"
</Key>
</URL>

  # Non-heap memory
<URL "http://{{ ansible_hostname }}.{{ domain }}:8080/jolokia/read/java.lang:type=Memory/NonHeapMemoryUsage">
    Instance "jboss-nonheap"
<Key "value/used">
      Type "memory"
      Instance "nonheap-used"
</Key>
<Key "value/committed">
      Type "memory"
      Instance "nonheap-committed"
</Key>
</URL>

  # Thread metrics
<URL "http://{{ ansible_hostname }}.{{ domain }}:8080/jolokia/read/java.lang:type=Threading/ThreadCount">
    Instance "jboss-threads"
<Key "value">
      Type "gauge"
      Instance "thread-count"
</Key>
</URL>

  # JMS Queue Message Count - Using runtime-queue entries
  <URL "http://{{ ansible_hostname }}.{{ domain }}:8080/jolokia/read/jboss.as:server=default,subsystem=messaging-activemq,runtime-queue=jms.queue.CORESERVICES.ERROR_LOG/messageCount">
    Instance "jms-CORESERVICES-ERROR_LOG"
    <Key "value">
      Type "gauge"
      Instance "queue-message-count"
    </Key>
  </URL>

   # Datasource Connection Pool Metrics
  <URL "http://{{ ansible_hostname }}.{{ domain }}:8080/jolokia/read/jboss.as:subsystem=datasources,xa-data-source=CCDBDataSource,statistics=pool/InUseCount">
    Instance "jboss-datasource-CCDBDataSource"
    <Key "value">
      Type "gauge"
      Instance "connection-in-use"
    </Key>
  </URL>
  
  <URL "http://{{ ansible_hostname }}.{{ domain }}:8080/jolokia/read/jboss.as:subsystem=datasources,xa-data-source=CCDBDataSource,statistics=pool/AvailableCount">
    Instance "jboss-datasource-CCDBDataSource"
    <Key "value">
      Type "gauge"
      Instance "connection-available"
    </Key>
  </URL>
</Plugin>
